src/
coverage/
build/
test/
time/
.github/
nodemon.json
.husky/
.prettierignore
.prettierrc
.editorconfig
.eslintignore
.eslintrc.json
tsconfig.json
tsconfig.umd.json
jest.config.js
nodemon.json
commitlint.config.js
.coveralls.yml
tsconfig.module.json
